//font-family
$font-family: "Segoe UI", Arial, sans-serif;

// Font weight
$light: 300;
$normal: 400;
$bold: 600;

// Primary color
$primary-red: #ff0000;
$primary-green: #14c704;
$primary-yellow: #e2c906;
$primary-light-pink: #ffaff2;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-grey: #969191;

$border-radius: 6px;
$cover-min-height: 80vh;
